<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
     <connectionStrings>
          <add name="StudyHabitDB" connectionString="server=oniddb.cws.oregonstate.edu;uid=teufelc-db;pwd=vpio9imb8AU2lkIe;database=teufelc-db" providerName="System.Data.SqlClient"/>
     </connectionStrings>
</configuration>